body {
  background-color: #282c34;
  color: white;
}

.App {
  padding: 10px;
}

.App-logo {
  margin-right: 12px;
  max-height: 64;
  max-width: 64;
  pointer-events: none;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
